body {
    background-color: #efefef;
}

/*设置界面格式*/
.main {
    margin-top: 2%;
    margin-right: 13%;
    margin-left: 13%;
    background-color: white;
}

/*发布按钮*/
.btn-publish {
    float: right;
    margin-bottom: 15px;
}

/*回复按钮*/
.btn-comment {
    float: right;
    margin-bottom: 15px;
    margin-top: 10px;
}

/*错误信息*/
.error {
    float: right;
}

/*主页文章头像*/
.avatar-img {
    width: 58px;
    height: 58px;
}

/*发布界面主体框*/
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

/*分页导航*/
.pagination {
    float: right;
}

/*主体内容*/
.body_left {
    border-right: 1px solid #e6e6e6;
}

/*我的问题界面右边栏*/
.profile .section {
    margin-top: 20px;
}

/*横线*/
.community-ledgement {
    width: 100%;
}

/*标签*/
.community-menu {
    font-size: 14px;
    float: right;
    color: #999;
}

/*错误页面*/
.errorPage {
    margin: 45px;
}

/*头像边的用户名样式*/
.media-body {
    padding-top: 16px;
}

/*回复信息样式*/
.commentInfo {
    border-bottom: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*回复问题框*/
.comment {
    margin: 10px 0;
}

/*设置用户昵称颜色*/
.username {
    color: #155faa;
}

/*编辑,删除,点赞,评论等按钮*/
.icon {
    margin-right: 7px;
    cursor: pointer;
}

.icon:hover {
    color: #499ef3;
}

.comment-count {
    cursor: pointer;
}

.comment-count:hover {
    color: #499ef3;
}


.btn-delete-comment {
    border: none;
    background-color: white;
}

/*显示二级回复按钮*/
.active {
    color: #499ef3;
}

.second-comment {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 5px;
}

.second-comment-box {
    margin-top: 15px;
}

/*评论回复数*/
.comment-count {
    margin: 0px;
    padding: 0px;
}

/*问题标签*/
.question-tag {
    margin-right: 5px;
}

/*相关问题*/
.question-related {
    line-height: 20px;
    font-size: 12px;
    list-style: none;
    padding-left: 0;
}

a:hover {
    text-decoration: none;
    color: red;
}

.question-qq-img {
    width: 100%;
}
