html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #efefef;
}

/*主体*/
.main {
    min-height: 120%;
    height: auto;
    position: relative;
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 5px;
}

/*除底部之外的主体内容*/
.main-content {
    height: 10%;
}

.body-left {
    height: 100%;
    border-right: 1px solid #e6e6e6;
}

/*publish:标签选择组件*/
.tab-pane {
    margin-top: 10px;
}

/*问题标签*/
.tag {
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
    white-space: normal;
    margin-top: 8px;
    display: inline-block;
}

.btn-publish{
    margin-top: 8%;
}

/*底部*/
.footer {
    width: 100%;
    height: 5%;
    position: absolute;
    /*使footer固定在contain的底部*/
    bottom: 0px;
    margin-left: 25%;
}
