<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MrAlmost</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/javascript" src="/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="/css/community.css" th:href="@{/css/community.css}">
</head>
<body>
<!-- 引入头部导航 -->
<div th:replace="navigation :: navigation"></div>

<!-- 主体信息 -->
<div class="container-fluid main">
    <div class="row">
        <!-- 左边 -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 body_left">
            <h3>
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现
                <span class="alert alert-danger error" th:if="${error!=null}" th:text="${error}"></span>
            </h3>
            <hr>

            <!-- 分页数据 -->
            <div class="media" th:each="question : ${pageInfo.list}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded avatar-img" th:src="${question.user.avatarUrl}"
                             alt="头像">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/'+${question.id}}">
                        <span class="media-heading question-title" th:text="${question.title}"></span></a><br>
                    <span th:text="${question.description}"></span><br>
                    <span class="text-desc">
                            [[${question.commentCount}]] 个回复 • [[${question.viewCount}]] 次浏览 • <span
                            th:text="${question.gmtCreate}"></span>
                    </span>
                </div>
            </div>

            <!-- 分页栏 -->
            <nav aria-label="Page navigation pagination">
                <ul class="pagination">
                    <li th:if="${not pageInfo.isFirstPage}">
                        <a href="#" th:href="@{/1}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                        <a href="#" aria-label="Previous"
                           th:href="@{'/'+${pageInfo.pageNum-1==0?1:pageInfo.pageNum-1}}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="num : ${pageInfo.navigatepageNums}"
                        th:class="${num==pageInfo.pageNum?'active':''}">
                        <a href="#" th:href="@{'/'+${num}}">[[${num}]]</a>
                    </li>
                    <li th:if="${not pageInfo.isLastPage}">
                        <a href="#" aria-label="Next"
                           th:href="@{'/'+${pageInfo.pageNum+1>=pageInfo.pages?pageInfo.pages:pageInfo.pageNum+1}}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                        <a href="#" th:href="@{'/'+${pageInfo.pages}}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- 右边 -->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题:</h3>
        </div>
    </div>

</div>
<script type="application/javascript">
    $(function () {
        var item = window.localStorage.getItem("closable");
        if (item == "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    });
</script>
<script type="application/javascript" src="/js/navigation.js" th:src="@{/js/navigation.js}"></script>
</body>
</html>