<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - MrAlmost</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="application/javascript" src="/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" href="/css/community.css" th:href="@{/css/community.css}">
</head>
<body>
<!-- 引入头部导航栏 -->
<div th:replace="navigation::navigation"></div>

<!-- 主体内容 -->
<div class="container-fluid main">
    <div class="row">
        <!--左边-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 body_left">
            <h3>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起
                <span class="alert alert-danger error" th:if="${error!=null}" th:text="${error}"></span>
            </h3>
            <hr>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要):</label>
                    <input type="text" class="form-control" id="title" th:value="${title}" name="title"
                           placeholder="问题标题......" autocomplete="off">

                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填,请参照右侧提示):</label>
                    <textarea class="form-control" name="description" id="description" th:text="${description}"
                              cols="30" rows="15" placeholder="请详细描述您的问题......"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}"
                           placeholder="请选择标签......" autocomplete="off" readonly="readonly">
                </div>
                <!--标签-->
                <div id="publish-select-tag">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" th:each="tagName,tagNameStat : ${tags}"
                            th:class="${tagNameStat.first ? 'active':''}">
                            <a th:href="${'#'+tagName.categoryName}" aria-controls="home" role="tab" data-toggle="tab"
                               th:text="${tagName.categoryName}"></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" th:id="${tagName.categoryName}"
                             th:each="tagName,tagNameStat : ${tags}"
                             th:classappend="${tagNameStat.first ? 'active':''}">
                            <span class="label label-info tag" th:data-id="${tag}"
                                  th:each="tag : ${tagName.tags}">
                                <span class="glyphicon glyphicon-tags"></span>
                                    <span th:text="${tag}"></span>
                            </span>
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn btn-success btn-publish">发布</button>
            </form>
        </div>

        <!--右边-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发布指南:</h3>
            • 问题标题: 请用精简的语言描述您发布的问题,不超过25个字
            • 问题补充: 详细补充您的问题内容,并确保问题描述清晰直观,并提供一些相关的资料
            • 选择标签: 选择一个或多个合适的标签,用逗号隔开,每个标签不超过10个字
        </div>
    </div>
</div>
<script type="application/javascript" src="/js/publish.js" th:src="@{/js/publish.js}"></script>
</body>
</html>