<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mralmost.community.mapper.QuestionCustomMapper">
    <resultMap id="QuestionWithUserMap" type="com.mralmost.community.dto.QuestionDTO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <association property="user" javaType="com.mralmost.community.model.User">
            <id column="id" property="id"/>
            <result column="account_id" property="accountId"/>
            <result column="name" property="name"/>
            <result column="token" property="token"/>
            <result column="gmt_create" property="gmtCreate"/>
            <result column="gmt_modified" property="gmtModified"/>
            <result column="bio" property="bio"/>
            <result column="avatar_url" property="avatarUrl"/>
        </association>
    </resultMap>
    <resultMap id="BaseResultMap" type="com.mralmost.community.model.Question">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
    </resultMap>
    <sql id="Base_Column_List">
        question.id, title, question.description, question.gmt_create, question.gmt_modified, creator, comment_count, view_count, like_count,
        tag,
        user.id, account_id, name, token, user.gmt_create, user.gmt_modified, bio, avatar_url
    </sql>
    <select id="selectQuestionWithUser" parameterType="com.mralmost.community.dto.QuestionDTO"
            resultMap="QuestionWithUserMap">
        select
        <include refid="Base_Column_List"/>
        from question,user
        <where>
            and question.creator=user.id
            <if test="search !=null">
                and question.tag regexp #{search} or title regexp #{search}
            </if>

        </where>
    </select>
    <select id="selectByHottest" resultMap="BaseResultMap">
        select * from question order by view_count desc limit 5
    </select>
    <select id="selectByNewset" resultMap="QuestionWithUserMap">
       select * from question order by gmt_create desc limit 5
    </select>
    <select id="selectQuestionWithUserByCreator" parameterType="java.lang.Long" resultMap="QuestionWithUserMap">
        select
        <include refid="Base_Column_List"/>
        from question,user where question.creator=user.id
        and question.creator=#{creator}
    </select>
    <select id="selectRelated" parameterType="com.mralmost.community.model.Question" resultMap="BaseResultMap">
        select * from question where id!=#{id} and tag regexp #{tag}
    </select>
    <update id="updateViewCountAndGmtModified" parameterType="com.mralmost.community.model.Question">
        update question set
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
        view_count = view_count+1
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="incQuestionCommentCount" parameterType="com.mralmost.community.model.Question">
        update question set
        comment_count = comment_count+1
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="incCommentCommentCount" parameterType="com.mralmost.community.model.Comment">
        update comment set
        comment_count = comment_count+1
        where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>