<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mralmost.community.mapper.QuestionCustomMapper">
    <resultMap id="QuestionWithUserMap" type="com.mralmost.community.dto.QuestionDTO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="tag" jdbcType="VARCHAR" property="tag"/>
        <association property="user" javaType="com.mralmost.community.model.User">
            <id column="id" property="id"/>
            <result column="account_id" property="accountId"/>
            <result column="name" property="name"/>
            <result column="token" property="token"/>
            <result column="gmt_create" property="gmtCreate"/>
            <result column="gmt_modified" property="gmtModified"/>
            <result column="bio" property="bio"/>
            <result column="avatar_url" property="avatarUrl"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        question.id, title, question.gmt_create, question.gmt_modified, creator, comment_count, view_count, like_count,
        tag,
        user.id, account_id, name, token, user.gmt_create, user.gmt_modified, bio, avatar_url
    </sql>
    <select id="selectQuestionWithUser" resultMap="QuestionWithUserMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Feb 01 20:32:36 CST 2020.
        -->
        select
        <include refid="Base_Column_List"/>
        from question,user where question.creator=user.id
    </select>
    <select id="selectQuestionWithUserByCreator" parameterType="java.lang.Long" resultMap="QuestionWithUserMap">
        select
        <include refid="Base_Column_List"/>
        from question,user where question.creator=user.id
        and question.creator=#{creator}
    </select>
    <update id="updateViewCountAndGmtModified" parameterType="com.mralmost.community.model.Question">
        update question
        gmt_modified = #{gmtModified,jdbcType=BIGINT},
        view_count = #{viewCount+1,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>